doctype html
html
  head
    meta(charset='UTF-8')
    |     
    title Startup Equity Calculator
    |     
    script(src='/js/calc/build/react.js')
    |     
    script(src='/js/calc/build/react-dom.js')
    |     
    script(src='/js/calc/build/numeral.js')
  |   
  body
    #container
    |     
    script(src='/js/calc/build/calculator.js')



