include ../mixins/flash-messages

doctype html
html
  head
    meta(charset='UTF-8')
    |     
    title Startup Equity Calculator
    |     
    script(src='/js/calc/build/react.js')
    |     
    script(src='/js/calc/build/react-dom.js')
    |     
    script(src='/js/calc/build/numeral.js')
    link(href="/styles/site.css", rel="stylesheet")
    link(href="/styles/flatly.min.css", rel="stylesheet")
    //- link(href="/styles/calculator.css", rel="stylesheet")
  |   
  body
    #header: .container

      //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
      //- ... or completely change this header to suit your design.

      div(role="navigation").navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Startup Job Advice
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              each link in navLinks
                if link.key != 'contact'
                  li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
            ul.nav.navbar-nav.navbar-right
              each link in navLinks
                if link.key == 'contact'
                  li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
       
            //-   if user
            //-     if user.canAccessKeystone
            //-       li: a(href='/keystone') Open Keystone
            //-     li: a(href='/keystone/signout') Sign Out
            //-   else
            //-     li: a(href='/keystone/signin') Sign In

    #container
    |     
    script(src='/js/calc/build/calculator.js')



